<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boiledcoffee.sjwatch.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.boiledcoffee.sjwatch.model.entity.Goods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="t_b_id" property="tBId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="sale_price" property="salePrice" jdbcType="DOUBLE" />
    <result column="wholesale" property="wholesale" jdbcType="DOUBLE" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DOUBLE" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="is_hot" property="isHot" jdbcType="INTEGER" />
    <result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="cover_src" property="coverSrc" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.boiledcoffee.sjwatch.model.entity.GoodsWithBLOBs" extends="BaseResultMap" >
    <result column="descr" property="descr" jdbcType="LONGVARCHAR" />
    <result column="sources" property="sources" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, t_b_id, name,short_name, number, type, sale_price, wholesale, purchase_price, stock, create_time,
    modify_time, is_hot, is_recommend, sex, cover_src
  </sql>

  <sql id="Blob_Column_List" >
    descr, sources
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.boiledcoffee.sjwatch.model.entity.GoodsWithBLOBs" >
    insert into t_goods (id, t_b_id, name, short_name,
      number, type, sale_price,
      wholesale, purchase_price, stock,
      create_time, modify_time, is_hot,
      is_recommend, sex, descr,
      sources,cover_src)
    values (#{id,jdbcType=BIGINT}, #{tBId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}
      #{number,jdbcType=VARCHAR}, #{type,jdbcType=BIGINT}, #{salePrice,jdbcType=DOUBLE},
      #{wholesale,jdbcType=DOUBLE}, #{purchasePrice,jdbcType=DOUBLE}, #{stock,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{isHot,jdbcType=INTEGER},
      #{isRecommend,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{descr,jdbcType=LONGVARCHAR},
      #{sources,jdbcType=LONGVARCHAR},#{coverSrc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.boiledcoffee.sjwatch.model.entity.GoodsWithBLOBs" >
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tBId != null" >
        t_b_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="wholesale != null" >
        wholesale,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="isHot != null" >
        is_hot,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="sources != null" >
        sources,
      </if>
      <if test="coverSrc != null">
        cover_src
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tBId != null" >
        #{tBId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="wholesale != null" >
        #{wholesale,jdbcType=DOUBLE},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isHot != null" >
        #{isHot,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=LONGVARCHAR},
      </if>
      <if test="sources != null" >
        #{sources,jdbcType=LONGVARCHAR},
      </if>
      <if test="coverSrc != null">
        #{coverSrc,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boiledcoffee.sjwatch.model.entity.GoodsWithBLOBs" >
    update t_goods
    <set >
      <if test="tBId != null" >
        t_b_id = #{tBId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="wholesale != null" >
        wholesale = #{wholesale,jdbcType=DOUBLE},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isHot != null" >
        is_hot = #{isHot,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=LONGVARCHAR},
      </if>
      <if test="sources != null" >
        sources = #{sources,jdbcType=LONGVARCHAR},
      </if>
      <if test="coverSrc != null">
        cover_src = #{coverSrc,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.boiledcoffee.sjwatch.model.entity.GoodsWithBLOBs" >
    update t_goods
    set t_b_id = #{tBId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIGINT},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      wholesale = #{wholesale,jdbcType=DOUBLE},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      stock = #{stock,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      is_hot = #{isHot,jdbcType=INTEGER},
      is_recommend = #{isRecommend,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      descr = #{descr,jdbcType=LONGVARCHAR},
      sources = #{sources,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boiledcoffee.sjwatch.model.entity.GoodsWithBLOBs" >
    update t_goods
    set t_b_id = #{tBId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIGINT},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      wholesale = #{wholesale,jdbcType=DOUBLE},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      stock = #{stock,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      is_hot = #{isHot,jdbcType=INTEGER},
      is_recommend = #{isRecommend,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      descr = #{descr,jdbcType=LONGVARCHAR},
      sources = #{sources,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findAllGoods" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    SELECT <include refid="Base_Column_List" />
    ,
    sources
    FROM t_goods WHERE 1 = 1
    <if test="goodsQuery.name != null and goodsQuery.name != ''">
      <bind name="Name_Pattern" value="'%' + goodsQuery.name + '%'" />
      AND name LIKE #{Name_Pattern}
    </if>
    <if test="goodsQuery.number != null and goodsQuery.number != ''" >
      <bind name="Number_Pattern" value="'%' + goodsQuery.number + '%'" />
      AND number LIKE #{Number_Pattern}
    </if>
    <if test="goodsQuery.type != 0" >
      AND type = #{goodsQuery.type,jdbcType = BIGINT}
    </if>
    <if test="goodsQuery.tBId != 0">
      AND t_b_id = #{goodsQuery.tBId,jdbcType = BIGINT}
    </if>
    <if test="goodsQuery.sex > 0">
      AND sex = #{goodsQuery.sex,jdbcType = INTEGER}
    </if>
    <if test="goodsQuery.isHot > 0">
      AND is_hot = #{goodsQuery.isHot,jdbcType = INTEGER}
    </if>
    <if test="goodsQuery.isRecommend > 0">
      AND is_recommend = #{goodsQuery.isRecommend,jdbcType = INTEGER}
    </if>

    <choose>
      <when test="goodsQuery.sortTime == 2">
        ORDER BY modify_time DESC
      </when>
      <otherwise>
        ORDER BY modify_time ASC
      </otherwise>
    </choose>

    <if test="goodsQuery.sortSalePrice == 1">
      ,sale_price ASC
    </if>
    <if test="goodsQuery.sortSalePrice == 2">
      ,sale_price DESC
    </if>

    <if test="goodsQuery.sortWholesale == 1">
      ,wholesale ASC
    </if>
    <if test="goodsQuery.sortWholesale == 2">
      ,wholesale DESC
    </if>

    <if test="goodsQuery.sortPurchasePrice == 1">
      ,purchase_price ASC
    </if>
    <if test="goodsQuery.sortPurchasePrice == 2">
      ,purchase_price DESC
    </if>

    <if test="goodsQuery.sortStock == 1">
      ,stock ASC
    </if>
    <if test="goodsQuery.sortStock == 2">
      ,stock DESC
    </if>

    <if test="goodsQuery.sortBrand == 1">
      ,t_b_id ASC
    </if>
    <if test="goodsQuery.sortBrand == 2">
      ,t_b_id DESC
    </if>

  </select>

  <select id="getGoodsById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
      SELECT * FROM t_goods WHERE id = #{goodsId,jdbcType = BIGINT}
  </select>

</mapper>



