<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boiledcoffee.sjwatch.dao.UserAclMapper" >
  <resultMap id="BaseResultMap" type="com.boiledcoffee.sjwatch.model.UserAcl" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="acl_url" property="aclUrl" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, acl_url, name, role_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_acl
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_acl
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.boiledcoffee.sjwatch.model.UserAcl" >
    insert into t_user_acl (id, acl_url, name, 
      role_id)
    values (#{id,jdbcType=BIGINT}, #{aclUrl,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.boiledcoffee.sjwatch.model.UserAcl" >
    insert into t_user_acl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="aclUrl != null" >
        acl_url,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="aclUrl != null" >
        #{aclUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boiledcoffee.sjwatch.model.UserAcl" >
    update t_user_acl
    <set >
      <if test="aclUrl != null" >
        acl_url = #{aclUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boiledcoffee.sjwatch.model.UserAcl" >
    update t_user_acl
    set acl_url = #{aclUrl,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>